@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* PALETTE */
:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* GLOBAL STYLES */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

li {
    list-style-type: none;
    }

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

/*DARK MODE*/

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
}

.dark-mode .navbar a {
    text-shadow: none;
}

.dark-mode #darkMode-icon {
    text-shadow: none;
}

.dark-mode .navbar a::before {
    box-shadow: none;
}

.dark-mode header #menu-icon {
    text-shadow: none;
    background-color: #0B061F;
}

.dark-mode .contact form .input-box input {
    box-shadow: 0 .1rem .5rem var(--main-color);
}

.dark-mode .contact form textarea {
    box-shadow: 0 .1rem .5rem var(--main-color);
}


/* MEDIA QUERY */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home .profession-container .profession-box {
        right: -10%;
    }

    .home .profession-container .overlay {
        right: -6%;
    }

    .home-img img {
        right: 0;
    }
}

@media (max-width: 1100px) {
    #home .profession-container .profession-box {
        right: -15%;
    }

    #home .home-img img {
        max-width: 420px;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    #home .profession-container .profession-box {
        right: -20%;
    }

    #home .profession-container .overlay {
        right: -12%;
    }

    #home .home-img img {
        max-width: 400px;
    }
}

@media (max-width: 991px) {
    #home .home-content {
        max-width: 50rem;
    }

    #home .profession-container .profession-box {
        right: -35%;
    }

    #home .profession-container .overlay {
        right: -30%;
    }

    #home .home-img img {
        display: none;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 896px) {
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    #home .profession-container .profession-box {
        right: -50%;
    }

    #home .profession-container .overlay {
        right: -43%;
    }
}

@media (max-width: 879px) {
    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 780px) {
    .navbar a:nth-child(2) {
        color: var(--white-color);
    }
}

@media (max-width: 768px) {
    header #menu-icon {
        display: block;
    }

    .heading {
        display: flex;
        text-align: center;
        justify-content: center;;
        gap: 10px;
    }

    #darkMode-icon {
        position: absolute;
        right: 12rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin-left: 15%;
        margin-top: 15%;
        
    }

    header .navbar {
        width:100%;
    height:0;
    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    }

    header .navbar.activo {
    height:50vh;
    pointer-events: auto;
    }

    #home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    #home .home-content h3 {
        font-size: 2.6rem;
    }

    #home .home-content h1 {
        font-size: 5rem;
    }

    #home .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    #home .profession-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    #home .profession-container .profession-box {
        position: fixed;
        top: 420px;
        left: 0;
        width: 100%;
    }

    #home .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    #home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-75px, -265px);
    }

    #home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -345px);
    }

    #home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-75px, -420px);
    }

    #home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-155px, -355px);
    }

    #home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    #home .profession-container .overlay {
        position: fixed;
        top: 86rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-img img {
        width: 70vw;
        margin-top: -2rem;
    }

    .testimonial-container .testimonial-wrapper {
        padding: 5rem 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    }
}

@media (max-width: 580px) {
    .portfolio .portfolio-container {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 12rem;
        margin-bottom: 1rem;
    }

    #home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-70px, -272px); /*backend*/
    }

    #home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -347px); /*developer*/
    }

    #home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-75px, -414px); /*fullstack*/
    }

    #home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-145px, -355px);  /*frontend*/
    }

    #home .profession-container .overlay {
        top: 84rem;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 365px) {
    .about-img img {
        width: 90vw;
    }
}

@media (max-width: 315px) {
    .home-content h1 {
        font-size: 4.5rem;
    }
}


