.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
  height: 70px;
}

.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  margin-right: auto;
}

#menu-icon.bx-menu {
  animation: giroDerecha 0.5s forwards;
}

#menu-icon.bx-x {
  font-size: 4rem;
  animation: giroIzquierda 0.5s forwards;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--white-color);
  background: transparent;
  display: none;
  text-shadow:
    -1px -1px 0 var(--main-color),
    1px -1px 0 var(--main-color),
    -1px 1px 0 var(--main-color),
    1px 1px 0 var(--main-color);
  cursor: pointer;
}

@keyframes giroIzquierda {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes giroDerecha {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--white-color);
  text-shadow:
    -1px -1px 0 var(--main-color),
    1px -1px 0 var(--main-color),
    -1px 1px 0 var(--main-color),
    1px 1px 0 var(--main-color);
  font-weight: 500;
  margin-right: 3.5rem;
}

.navbar ul {
  display: flex;
}

.navbar a::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  bottom: -4px;
  background-color: var(--white-color);
  box-shadow:
    -1px -1px 0 var(--main-color),
    1px -1px 0 var(--main-color),
    -1px 1px 0 var(--main-color),
    1px 1px 0 var(--main-color);
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::before {
  width: 100%;
  bottom: -4px;
  right: initial;
  left: 0;
}

.navbar a.active {
  font-weight: 800;
}

#darkMode-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  background: transparent;
  border: none;
  text-shadow:
    -1px -1px 0 var(--main-color),
    1px -1px 0 var(--main-color),
    -1px 1px 0 var(--main-color),
    1px 1px 0 var(--main-color);
  cursor: pointer;
  outline: none;
}

nav#navbar.navbar.activo {
  background-color: var(--main-color);
  height: 300px;
}

/* MEDIA QUERY */
@media (max-width: 1024px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 896px) {
  .navbar a:nth-child(2) {
    color: var(--main-color);
  }
}

@media (max-width: 780px) {
  .navbar a:nth-child(2) {
    color: var(--white-color);
  }
}

@media (max-width: 768px) {
  header #menu-icon {
    display: block;
  }

  .heading {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }

  button#darkMode-icon.bx.bx-moon::before {
    font-size: 2.6rem;
    color: var(--white-color);
    background: transparent;
    border: none;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    margin-left: 15%;
    margin-top: 15%;
  }

  header .navbar {
    width: 100%;
    height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  header .navbar.activo {
    height: 50vh;
    pointer-events: auto;
  }
}

@media (max-width: 450px) {
  button#darkMode-icon.bx.bx-moon::before {
    font-size: 2.5rem;
  }
}
